<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<style>

</style>
<div class="container">

    <body>
        <br>
        <br>

        <br>

        <br>


    <h4 class=" "> Click to <b>CONFIRM</b> that your account and encryption keys will be <b>DESTROYED PERMANENTLY</b>. All passwords stored will be inacessable. Type your pin to confirm </h4>
    

   <!--<br>
    <br>
    <br>
    <br>
     <h4>This means all passwords and your account will be deleted instantly and permanently after you click "Delete Account"</h4> -->
    <!--     <h2 class="position-absolute translate-middle start-50 "> Click to confirm that your account and encryption keys will BE DESTROYED <br> permanently. All passwords stored will be inacessable. </h2>
 -->
    <form action="" method="post">
    {% csrf_token %}
    <br>
    <br>
   
    <br>
    <input type="password" name="pin" required/>

    <button type="submit" class=" btn btn-secondary position-absolute  w-25 start-50 translate-middle btn  btn-danger fw-bold" formmethod="post">Delete Account</button>
</form>

    <br>
    <br>

    <br>
    <br>

  <!--<input type="submit" name="k" class="position-absolute  start-50 translate-middle btn btn-lg w-50 btn-primary"> -->
    </body>
</div>
