<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<html>
    
<style>
    .one{
      
        -webkit-text-security: disc;

    }
</style>
    <div class="container">
<body>
    <br>
    <br>
  <!--  <h5>Enter your PIN to continue:</h5>-->
    <h3>Enter your PIN to continue:</h3> <br></body> <!--or h6-->
<form action="" method="GET">
    <b>PIN:</b>
    <input type="text" name="munchy"? class="one">
    <button type="submit" class="  btn btn-sm  btn-primary" formmethod="post">Enter</button>

</form>
</div>
</html>