<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<html>
<head>
    <div class="container">
        <br>
        <h3>Create a PIN.</h3> <br>  <h6>This will be required for you to view, edit, and add your Password Entries.</h6>
    </head>
    <br>
    <div class="container">
        <form action="/passwords/setup" method="post">
            <b> PIN: </b>
                <input type="password" name="pin">
        
                <button type="submit" class=" btn  btn-sm btn-primary" formmethod="post">Create PIN</button>
        </form>

        <br>
        <ul>
            <h6>Your PIN requires:<h6>
                <div class="container">
                    <div class="container">
                        <div class="container">
                        <li>6 characters</li>
                    </div>
                </div>
            </div>
        </ul>


            </html>
        


<!--
  
  <br>
                                            <h6>Create a PIN. <br> <br> This will be required for you to view, edit, and add your Password Entries.</h6>
                                        </head>
                                        <br>
                                        <div class="container">
                                            <form action="/passwords/setup" method="post">
                                                <b> PIN: </b>
                                                    <input type="password" name="munchy">
                                            
                                                    <button type="submit" class=" btn  btn-sm btn-success" formmethod="post">Create PIN</button>
                                            </form>

                                            <br>
                                            <ul>
                                                <h6>Your PIN requires:<h6>
                                                    <div class="container">
                                                        <div class="container">
                                                            <div class="container">
                                                            <li>10 characters</li>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ul>










                                               <div class="container">
        <div class="container">
                <div class="container">
                    <div class="container">
                        <div class="container">
                            <div class="container">
                                <div class="container">
                                    <div class="container">
                                        <div class="container">
                                            <div class="container">
                                                <div class="container">
                                                    <div class="container">
                                                        <div class="container">
                                                            <div class="container">
                                                                <div class="container">
                                                                    <div class="container">
                                                                        <div class="container">
                                                                            <div class="container">
                                                                                <div class="container">
                                                                                    <div class="container">
                                                                                        <div class="container">
                                                                                            <div class="container">
                                                                                                <div class="container">
                                                                                                    <div class="container">
                                                                                                        <div class="container">
                                                                                                            <div class="container">
                                                                                                                <div class="container">
                                                                                                                    <div class="container">
                                                                                                                        <div class="container">
                                                                                                                            <div class="container">
                                                                                                                                <div class="container">
                                                                                                                                    <div class="container">
                                                                                                                                        <div class="container">
                                                                                                                                            <div class="container">
                                                                                                                                                <div class="container">
                                                                                                                                                    <div class="container">
                                                                                                                                                        <div class="container">
                                                                                                                                                            <div class="container">
                                                                                                                                                                <div class="container">
                                                                                                                                                                    <div class="container">
                                                                                                                                                                        <br>
                                                                                                                                                                        <h6>Create a PIN. <br> <br> This will be required for you to view, edit, and add your Password Entries.</h6>
                                                                                                                                                                    </head>
                                                                                                                                                                    <br>
                                                                                                                                                                    <div class="container">
                                                                                                                                                                        <form action="/passwords/setup" method="post">
                                                                                                                                                                            <b> PIN: </b>
                                                                                                                                                                                <input type="password" name="munchy">
                                                                                                                                                                        
                                                                                                                                                                                <button type="submit" class=" btn  btn-sm btn-success" formmethod="post">Create PIN</button>
                                                                                                                                                                        </form>
                                                                                                                            
                                                                                                                                                                        <br>
                                                                                                                                                                        <ul>
                                                                                                                                                                            <h6>Your PIN requires:<h6>
                                                                                                                                                                                <div class="container">
                                                                                                                                                                                    <div class="container">
                                                                                                                                                                                        <div class="container">
                                                                                                                                                                                        <li>10 characters</li>
                                                                                                                                                                                    </div>
                                                                                                                                                                                </div>
                                                                                                                                                                            </div>
                                                                                                                                                                        </ul>
                                                                                                                                                                    </div>
                                                                                                                                                                </div>
                                                                                                                                                            </div>
                                                                                                                                                        </div>
                                                                                                                                                    </div>
                                                                                                                                                </div>
                                                                                                                                            </div>
                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
-->