<html>
    <title>Version of pw mangaer</title>
    <body>
        <h1>This system is currently running version 1.7 hotfix 0  build DO NOT RELEASE AT ALL alpha</h1>
    
        <bold>unstable non working code</bold>
        
        <bold>do not trust security until further notice </bold>
        to do list
    
        css (beta 1)

    </body>
    <h2>
     list of 
        issues
1. forms are trash
2. urls issues
3. templates
4. 46 issues says visual studio
5. the encrytion does not work
6. sign in 
7. local dev (please use the cloud)
8. all sorts of garbage
9. MORE MODEL GARBAGE THIS IS NOT TO BE RELEASED


    </h2>